@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  /* Minerio VOID */
  color: #fff;
  font-family: 'VT323', monospace;
  overflow: hidden;
  -webkit-font-smoothing: none;
}